.carousel .slide img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 0.75;
  z-index: 2;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.carousel .control-arrow:hover, .carousel.carousel-slider .control-arrow:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
