.category-bar {
  background-color: #28A745; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.category-search {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
}

.search-button {
  background-color: #012B65;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  margin-left: 10px;
  width: 15%;
}

.search-button:hover {
  background-color: #0b2e55;
}

.category-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  gap: 15px;
}

.category-list li {
  margin: 5px 15px;
}

.category-list a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: transparent; 
}

.category-list a:hover {
  text-decoration: underline;
  color: #0b2e55;
  background-color: #e0f0ff;
  transform: scale(1.05);
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-list a svg {
  margin-right: 10px;
  font-size: 1.2em; 
}
