/* Mobile styles */
@media screen and (max-width: 768px) {
    .navbar__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  /* Tablet styles */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
  }

