.item__container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
    flex-basis: calc(25% - 40px);
    box-sizing: border-box;
    max-width: calc(25% - 40px);
    padding: 20px;
    margin: 0 20px 30px;
    border: 2.5px solid transparent;
  }
  
  .item__container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #012b65;
    transform: scale(1.05);
  }
  
  .item--img_container {
    position: relative;
    width: 100%;
    height: 150px;
  }
  
  .item--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item--title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: center;
  }
  
  .item--description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .item--price {
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .item-actions__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .item--cart__button {
    padding: 10px 15px;
    background-color: #012b65;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .item--cart__button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para tablets grandes */
  @media screen and (max-width: 1200px) {
    .item__container {
      flex-basis: calc(33.33% - 40px);
      max-width: calc(33.33% - 40px);
    }
  }
  
  /* Estilos para tablets pequeñas y móviles grandes */
  @media screen and (max-width: 768px) {
    .item__container {
      flex-basis: calc(50% - 40px);
      max-width: calc(50% - 40px);
    }
  
    .item--cart__button {
      width: auto;
      font-size: 13px;
    }
  }
  
  /* Estilos para móviles pequeños */
  @media screen and (max-width: 576px) {
    .item__container {
      flex-basis: calc(100% - 20px); 
      max-width: calc(100% - 20px); 
      padding: 10px; 
      margin: 10px 0; 
    }
  
    .item--title {
      font-size: 14px; 
    }
  
    .item--description {
      font-size: 12px; 
    }
  
    .item--price {
      font-size: 14px; 
    }
  
    .item--cart__button {
      width: auto;
      font-size: 12px; 
      padding: 8px 10px; 
    }
  }
  